@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    font-family: "Kumbh Sans", sans-serif;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    background-repeat: no-repeat;
    min-height: 48rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  html {
    box-sizing: border-box;
  }
  body, h1, p{
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .before-click{
    height: 3.5rem;
  }
  .after-click{
    height: auto;
    margin-bottom: 0.5rem;
  }
  .before-click,.after-click{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .after-click,.image-desktop,.box{
    display: none;
  }
  .after-click.show{
    display: block;
  }
  .white-container{
    margin: -8rem auto 5.313rem auto;
    width: 20.438rem;
    border-radius: 23px;
    background: hsla(0, 0%, 100%, 1);
    box-shadow: 0px 50px 50px -20px hsla(261, 75%, 27%, 0.5);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .image-mobile{
    width: 15rem;
    text-align: center;
    z-index: 2;
  }
  .mobile-illustration{
    margin: 2.5rem auto -5.3rem auto;
  }
  .pattern-mobile{
    margin: 0 auto 1.75rem auto;
  }
  .title{
    width: 17.438rem;
    margin: 8.25rem auto 2.5rem auto;
    text-align: center;
    color: hsla(238, 29%, 17%, 1);
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
  }
  .questions{
    width: 17.438rem;
    font-size: 0.75rem;
    line-height: 1.125rem;
    text-align: left;
  }
  .question{
    margin: 1.19rem 0 1.19rem 0;
  }
  p{
    color: #4B4C5F;
  }
  hr{
    margin: 0;
    padding: 0;
    color: #E8E8EA;
  }
  .arrow-icon{
   width: 0.5rem;
   height: 0.45rem;
   transition: transform 0.3s ease;
  }
  .arrow-icon.rotate {
    transform: rotate(180deg);
  }
  .all-questions{
    width: 17.438rem;
    margin: 0 0 3rem 0;
  }
  .before-click.bold{
    height: 2rem;
    color: #1E1F36;
    font-weight: 700;
  }
  .before-click:hover,.question:hover{
    cursor: pointer;
    color: #F47B56;
  }
  @media screen and (max-width:325px) {
    body,html{
      min-width: 325px;
    }
    
  }
  @media screen and (min-width:1440px){
    .image-mobile{
      display: none;
      margin: 0;
    }
    .white-container{
      overflow: hidden;
      margin: 0 auto 0 auto;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      align-content: flex-end;
      justify-content: space-evenly;
      width: 57.5rem;
      height: 31.8125rem;
      border-radius: 23px;
      box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.50);
    }
    .image-desktop{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    .desktop-pattern{
      margin: 0rem 0rem -35rem -5rem;
    }
    .desktop-illustration{
      width: 32.5rem;
      height: 23.375rem;
      margin: 0rem 0rem 20rem 20rem;
    }
    .box-desktop{
      margin: 0rem 0rem -25rem -27rem;
    }
    .box {
      display: inline;
      width: 15.6rem;
      z-index: 2;
      margin: 0;
    }
    .title-questions{
      height: 25rem;
      padding: 0 5.94rem 0 5.51rem;
    }
    .title{
     margin: 0 0 2.81rem 0;
     text-align: start;
    }
    .all-questions{
      margin: 0;
    }
    .questions{
      font-size: 0.875rem;
    }
  }
  