@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    font-family: "Kumbh Sans", sans-serif;
    overflow-x: hidden;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    background-repeat: no-repeat;
    min-height: 48rem;
    height: 100vh;
    width: 100vw;
  }
  html {
    box-sizing: border-box;
  }
  body, h1, p{
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .before-click,.after-click{
    margin: 0.406rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .after-click,.arrow-up,.pattern-desktop,.desktop-illustration{
    display: none;
  }
  .white-container{
    margin: -8rem auto 5.313rem auto;
    width: 20.438rem;
    border-radius: 23px;
    background: hsla(0, 0%, 100%, 1);
    box-shadow: 0px 50px 50px -20px hsla(261, 75%, 27%, 0.5);

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .illustration-image {
    margin: 2.5rem auto -5.3rem auto;
    width: 15rem;
    text-align: center;
  }
  .title{
    width: 17.438rem;
    margin: 8.25rem auto 2.5rem auto;
    text-align: center;
    color: hsla(238, 29%, 17%, 1);
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
  }
  .questions{
    width: 17.438rem;
    margin: 1.125rem 0 1.125rem 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
  }
  p{
    color: #4B4C5F;
  }
  hr{
    margin: 0;
    padding: 0;
    color: #E8E8EA;
  }
  .arrow-down {
   width: 0.5rem;
   height: 0.45rem;
  }
  .all-questions{
    width: 17.438rem;
    margin: 0 0 3rem 0;
  }
  .pattern-images{
    margin: 0 auto 1.75rem auto;
    width: 15rem;
    text-align: center;
  }
  
  @media screen and (min-width:1440px){
    body{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
    }
    .pattern-desktop{
      display: inline;
      margin: 0 0 6rem 0;
      width: 58.25rem;
      height: 55.5rem;
    }
    .desktop-illustration{
      display: inline;
      width: 35.5rem;
      height: 24.375rem;
      margin: 0rem 0rem -44rem 24rem;
      z-index: 1;
      position: relative;
    }

    .box{
      position: relative;
      width: 5.625rem; 
      height: 6.625rem;
      z-index: 2;
      margin: 0rem 0rem -21.5rem 18.5rem;
    }
    .illustration-pattern{
      margin: 0;
      padding: 0;
    }
    .title-questions{
      padding:4.06rem 5.94rem 5.19rem 5.51rem;

    }
    .pattern-images,.illustration-image{
      display: none;
      margin: 0;
    }
    .white-container{
      overflow: hidden;
      margin: 0 auto 0 auto;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      align-content: flex-end;
      justify-content: space-evenly;
      width: 57.5rem;
      height: 31.8125rem;
      border-radius: 23px;
      box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.50);
    }
    /*
    .desktop-illustration{
      background-image: url(./images/illustration-woman-online-desktop.svg);
      background-size: cover;
      position: absolute;
    }
    .pattern-desktop{
      width: 35rem;
      height: 35rem;
      margin: -3rem 0rem 0rem -35rem;
      position: absolute;
    }
    */
    .mobile-illustration,.pattern-mobile{
      display: none;
    }
    .title{
     margin: 0;
     text-align: start;
    }
  }
  